<div class="container-fluid row" style="margin-top: 2em;">
  <!-- Cards qtd cadastrados -->
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Clientes Cadastrados</h5>
        <p class="card-text">00</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Produtos Cadastrados</h5>
        <p class="card-text">00</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedidos Cadastrados</h5>
        <p class="card-text">00</p>
      </div>
    </div><br>
  </div>
  <!-- Fim Cards -->
  <br><hr>
  <!-- Gráfico -->
  <div class="text-center">
    <img src="https://miro.medium.com/max/1400/0*xcexG1C9BroKmojA.png" class="img-fluid float-mid">
  </div>
</div>