<form class="row g-3">
    <div class="col-auto">
      <label for="nome" class="visually-hidden">Nome</label>
      <input type="text" readonly class="form-control-plaintext" id="nome">
    </div><br>
    <div class="col-auto">
        <label for="telefone" class="visually-hidden">Telefone</label>
        <input type="number" readonly class="form-control-plaintext" id="telefone" >
      </div><br>
    <div class="col-auto">
      <label for="email" class="visually-hidden">E-mail</label>
      <input type="email" class="form-control" id="email">
    </div><br>
    <div class="col-auto">
        <label for="cpf" class="visually-hidden">CPF</label>
        <input type="number" readonly class="form-control-plaintext" id="cpf" >
      </div><br>
      <div class="col-auto">
        <label for="cep" class="visually-hidden">CEP</label>
        <input type="text" readonly class="form-control-plaintext" id="cep" >
      </div><br>
      <div class="col-auto">
        <label for="logradouro" class="visually-hidden">Logradouro</label>
        <input type="text" readonly class="form-control-plaintext" id="logradouro" >
      </div><br>
      <div class="col-auto">
        <label for="numero" class="visually-hidden">Numero</label>
        <input type="text" readonly class="form-control-plaintext" id="numero" >
      </div><br>
      <div class="col-auto">
        <label for="bairro" class="visually-hidden">Bairro</label>
        <input type="text" readonly class="form-control-plaintext" id="bairro" >
      </div><br>
      <div class="col-auto">
        <label for="cidade" class="visually-hidden">Cidade</label>
        <input type="text" readonly class="form-control-plaintext" id="cidade" >
      </div><br>
      <div class="col-auto">
        <label for="estado" class="visually-hidden">Estado</label>
        <input type="text" readonly class="form-control-plaintext" id="estado" >
      </div><br>
      <div class="col-auto">
        <label for="complemento" class="visually-hidden">Complemento</label>
        <input type="text" readonly class="form-control-plaintext" id="complemento" >
      </div><br>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>
