<div class="d-grid gap-2 d-md-block" >
  <button class="btn btn-primary" type="button" style="margin: 2px;">Adicionar Cliente</button>
  <button class="btn btn-primary" type="button" style="margin: 2px;">Adicionar Produtos</button>
</div>

<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cliente</th>
      <th scope="col">Valor total</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>---</td>
      <td>---</td>
      <td>----</td>
    </tr>
  </tbody>
</table>