<form class=" container container-fluid row g-3">
    <div class="col-auto">
      <label for="nome">Nome</label>
      <input type="text" readonly class="form-control" id="nome">
    </div><br>
    <div class="col-auto">
        <label for="descricao">Descrição</label>
        <input type="text" readonly class="form-control" id="descricao" >
      </div><br>
    <div class="col-auto">
      <label for="valor">Valor</label>
      <input type="number" class="form-control" id="valor">
    </div><br>
    <div class="col-auto">
        <label for="estoque">Estoque</label>
        <input type="number" readonly class="form-control" id="estoque" >
      </div><br>
    <div class="row-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Estoque</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Paracetamol</td>
        <td>Analgésico</td>
        <td>R$ 5,00</td>
        <td>10</td>
        <td>---</td>
      </tr>
    </tbody>
  </table>

