<form class=" container container-fluid row g-3">
    <div class="col-auto">
      <label for="nome">Nome</label>
      <input type="text" readonly class="form-control" id="nome">
    </div><br>
    <div class="col-auto">
        <label for="descricao">Descrição</label>
        <input type="text" readonly class="form-control" id="descricao" >
      </div><br>
    <div class="col-auto">
      <label for="valor">Valor</label>
      <input type="number" class="form-control" id="valor">
    </div><br>
    <div class="col-auto">
        <label for="estoque">Estoque</label>
        <input type="number" readonly class="form-control" id="estoque" >
      </div><br>
    <div class="row-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>

