<form class="row g-3">
    <div class="col-auto">
      <label for="nome" class="visually-hidden">Nome</label>
      <input type="text" readonly class="form-control-plaintext" id="nome">
    </div><br>
    <div class="col-auto">
        <label for="descricao" class="visually-hidden">Descrição</label>
        <input type="text" readonly class="form-control-plaintext" id="descricao" >
      </div><br>
    <div class="col-auto">
      <label for="valor" class="visually-hidden">Valor</label>
      <input type="number" class="form-control" id="valor">
    </div><br>
    <div class="col-auto">
        <label for="estoque" class="visually-hidden">Estoque</label>
        <input type="number" readonly class="form-control-plaintext" id="estoque" >
      </div><br>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>

